// Place all the styles related to the Cart controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.total-cell{
  font-weight: bold;
  border-top: 1px solid #595;
}  
.total-line{
  font-weight: bold;
  border-top: 1px solid #595 ;
  text-align: right;
}
